In [ ]:
pip install missingpy

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import sklearn.neighbors._base
import sys
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
from missingpy import MissForest
from sklearn.impute import KNNImputer

In [26]:
df = pd.read_csv('Second_EDA.csv')

In [27]:
df.isna().sum()

y                    0
Name                 0
Age                177
SibSp                0
ParCh                0
Ticket               0
Fare                 0
Duplicate_Cabin      0
Cab_Letter_B         0
Cab_Letter_C         0
Cab_Letter_D         0
Cab_Letter_E         0
Cab_Letter_F         0
Cab_Letter_G         0
Cab_Letter_None      0
Cab_Letter_T         0
Family_Size          0
Fare_Per_Person      0
Sex_male             0
Embarked__Q          0
Embarked__S          0
Class_2              0
Class_3              0
dtype: int64

In [28]:
pd.set_option('display.max_columns', None)

In [29]:
df.columns

Index(['y', 'Name', 'Age', 'SibSp', 'ParCh', 'Ticket', 'Fare',
       'Duplicate_Cabin', 'Cab_Letter_B', 'Cab_Letter_C', 'Cab_Letter_D',
       'Cab_Letter_E', 'Cab_Letter_F', 'Cab_Letter_G', 'Cab_Letter_None',
       'Cab_Letter_T', 'Family_Size', 'Fare_Per_Person', 'Sex_male',
       'Embarked__Q', 'Embarked__S', 'Class_2', 'Class_3'],
      dtype='object')

In [31]:
df = df[['y', 
      #'Name', 
      'Age', 'SibSp', 'ParCh', 
      #'Ticket',
      'Fare',
       'Duplicate_Cabin', 'Cab_Letter_B', 'Cab_Letter_C', 'Cab_Letter_D',
       'Cab_Letter_E', 'Cab_Letter_F', 'Cab_Letter_G', 'Cab_Letter_None',
       'Cab_Letter_T', 'Family_Size', 'Fare_Per_Person', 'Sex_male',
       'Embarked__Q', 'Embarked__S', 'Class_2', 'Class_3']].copy()

In [32]:
df.head()

,y,Age,SibSp,ParCh,Fare,Duplicate_Cabin,Cab_Letter_B,Cab_Letter_C,Cab_Letter_D,Cab_Letter_E,Cab_Letter_F,Cab_Letter_G,Cab_Letter_None,Cab_Letter_T,Family_Size,Fare_Per_Person,Sex_male,Embarked__Q,Embarked__S,Class_2,Class_3
0,0,22.0,1,0,7.2500,0,0,0,0,0,0,0,1,0,1,3.62500,1,0,1,0,1
1,1,38.0,1,0,71.2833,0,0,1,0,0,0,0,0,0,1,35.64165,0,0,0,0,0
2,1,26.0,0,0,7.9250,0,0,0,0,0,0,0,1,0,0,7.92500,0,0,1,0,1
3,1,35.0,1,0,53.1000,1,0,1,0,0,0,0,0,0,1,26.55000,0,0,1,0,0
4,0,35.0,0,0,8.0500,0,0,0,0,0,0,0,1,0,0,8.05000,1,0,1,0,1

# Using KNNImputer

In [9]:
imputer = KNNImputer()
age_imputed = imputer.fit_transform(df)
age_imputed = pd.DataFrame(age_imputed, columns = df.columns).round(1)

ValueError: could not convert string to float: 'Braund, Mr. Owen Harris'

In [ ]:
age_imputed.iloc[[888]]

In [ ]:
age_imputed.isna().sum()

# Using MissForest

In [33]:
imputer2 = MissForest()
age_imputed2 = imputer2.fit_transform(df)
age_imputed2 = pd.DataFrame(age_imputed2, columns = df.columns).round(1)

C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Iteration: 0

C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Iteration: 1

C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Iteration: 2

In [34]:
age_imputed2.iloc[[888]]

,y,Age,SibSp,ParCh,Fare,Duplicate_Cabin,Cab_Letter_B,Cab_Letter_C,Cab_Letter_D,Cab_Letter_E,Cab_Letter_F,Cab_Letter_G,Cab_Letter_None,Cab_Letter_T,Family_Size,Fare_Per_Person,Sex_male,Embarked__Q,Embarked__S,Class_2,Class_3
888,0.0,24.6,1.0,2.0,23.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,5.9,0.0,0.0,1.0,0.0,1.0

In [35]:
age_imputed2.isna().sum()

y                  0
Age                0
SibSp              0
ParCh              0
Fare               0
Duplicate_Cabin    0
Cab_Letter_B       0
Cab_Letter_C       0
Cab_Letter_D       0
Cab_Letter_E       0
Cab_Letter_F       0
Cab_Letter_G       0
Cab_Letter_None    0
Cab_Letter_T       0
Family_Size        0
Fare_Per_Person    0
Sex_male           0
Embarked__Q        0
Embarked__S        0
Class_2            0
Class_3            0
dtype: int64

In [ ]:
age_imputed.to_csv('KNN_imputed.csv', index=False)

In [36]:
age_imputed2.to_csv('MF_imputed.csv', index=False)

How to assess error?

# Imputing missing values for test data

In [ ]:
test_df = pd.read_csv('test_for_imputation.csv')

In [ ]:
#152 Fare is Nan, 413 age

## KNN imputer

In [ ]:
imputer = KNNImputer()
test_imputed = imputer.fit_transform(test_df)
test_imputed = pd.DataFrame(test_imputed, columns = test_df.columns).round(1)

In [ ]:
test_imputed.to_csv('test_KNN_imputed.csv', index=False)

# MF imputer

In [ ]:
imputer2 = MissForest()
test_imputed2 = imputer2.fit_transform(test_df)
test_imputed2 = pd.DataFrame(test_imputed2, columns = test_df.columns).round(1)

In [ ]:
test_imputed2.to_csv('test_MF_imputed.csv', index=False)