In [ ]:
pip install missingpy

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import sklearn.neighbors._base
import sys
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
from missingpy import MissForest
from sklearn.impute import KNNImputer

In [29]:
df = pd.read_csv('test_for_imputation.csv')

In [30]:
df.isna().sum()

PassengerId         0
Age                86
SibSp               0
Parch               0
Ticket              0
Fare                1
Duplicate_Cabin     0
Cab_Letter_B        0
Cab_Letter_C        0
Cab_Letter_D        0
Cab_Letter_E        0
Cab_Letter_F        0
Cab_Letter_G        0
Cab_Letter_None     0
Family_Size         0
Fare_Per_Person     1
Sex_male            0
Embarked__Q         0
Embarked__S         0
Class_2             0
Class_3             0
dtype: int64

In [31]:
pd.set_option('display.max_columns', None)

In [32]:
df.columns

Index(['PassengerId', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Duplicate_Cabin', 'Cab_Letter_B', 'Cab_Letter_C', 'Cab_Letter_D',
       'Cab_Letter_E', 'Cab_Letter_F', 'Cab_Letter_G', 'Cab_Letter_None',
       'Family_Size', 'Fare_Per_Person', 'Sex_male', 'Embarked__Q',
       'Embarked__S', 'Class_2', 'Class_3'],
      dtype='object')

In [34]:
df = df[[#'Name', 
      'PassengerId', 'Age', 'SibSp', 'Parch', 
      #'Ticket',
      'Fare',
       'Duplicate_Cabin', 'Cab_Letter_B', 'Cab_Letter_C', 'Cab_Letter_D',
       'Cab_Letter_E', 'Cab_Letter_F', 'Cab_Letter_G', 'Cab_Letter_None',
    'Family_Size', 'Fare_Per_Person', 'Sex_male',
       'Embarked__Q', 'Embarked__S', 'Class_2', 'Class_3']].copy()

In [35]:
df.head()

,PassengerId,Age,SibSp,Parch,Fare,Duplicate_Cabin,Cab_Letter_B,Cab_Letter_C,Cab_Letter_D,Cab_Letter_E,Cab_Letter_F,Cab_Letter_G,Cab_Letter_None,Family_Size,Fare_Per_Person,Sex_male,Embarked__Q,Embarked__S,Class_2,Class_3
0,892,34.5,0,0,7.8292,0,0,0,0,0,0,0,1,0,7.829200,1,1,0,0,1
1,893,47.0,1,0,7.0000,0,0,0,0,0,0,0,1,1,3.500000,0,0,1,0,1
2,894,62.0,0,0,9.6875,0,0,0,0,0,0,0,1,0,9.687500,1,1,0,1,0
3,895,27.0,0,0,8.6625,0,0,0,0,0,0,0,1,0,8.662500,1,0,1,0,1
4,896,22.0,1,1,12.2875,0,0,0,0,0,0,0,1,2,4.095833,0,0,1,0,1

# Using KNNImputer

In [11]:
imputer = KNNImputer()
age_imputed = imputer.fit_transform(df)
age_imputed = pd.DataFrame(age_imputed, columns = df.columns).round(1)

In [13]:
age_imputed.iloc[[7]]

,Age,SibSp,Parch,Fare,Duplicate_Cabin,Cab_Letter_B,Cab_Letter_C,Cab_Letter_D,Cab_Letter_E,Cab_Letter_F,Cab_Letter_G,Cab_Letter_None,Family_Size,Fare_Per_Person,Sex_male,Embarked__Q,Embarked__S,Class_2,Class_3
7,26.0,1.0,1.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,9.7,1.0,0.0,1.0,1.0,0.0

In [14]:
age_imputed.isna().sum()

Age                0
SibSp              0
Parch              0
Fare               0
Duplicate_Cabin    0
Cab_Letter_B       0
Cab_Letter_C       0
Cab_Letter_D       0
Cab_Letter_E       0
Cab_Letter_F       0
Cab_Letter_G       0
Cab_Letter_None    0
Family_Size        0
Fare_Per_Person    0
Sex_male           0
Embarked__Q        0
Embarked__S        0
Class_2            0
Class_3            0
dtype: int64

# Using MissForest

In [36]:
imputer2 = MissForest()
age_imputed2 = imputer2.fit_transform(df)
age_imputed2 = pd.DataFrame(age_imputed2, columns = df.columns).round(1)

C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Iteration: 0

C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Iteration: 1

C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Iteration: 2

C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Iteration: 3

C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Iteration: 4

In [37]:
age_imputed2.iloc[[7]]

,PassengerId,Age,SibSp,Parch,Fare,Duplicate_Cabin,Cab_Letter_B,Cab_Letter_C,Cab_Letter_D,Cab_Letter_E,Cab_Letter_F,Cab_Letter_G,Cab_Letter_None,Family_Size,Fare_Per_Person,Sex_male,Embarked__Q,Embarked__S,Class_2,Class_3
7,899.0,26.0,1.0,1.0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,9.7,1.0,0.0,1.0,1.0,0.0

In [38]:
age_imputed2.isna().sum()

PassengerId        0
Age                0
SibSp              0
Parch              0
Fare               0
Duplicate_Cabin    0
Cab_Letter_B       0
Cab_Letter_C       0
Cab_Letter_D       0
Cab_Letter_E       0
Cab_Letter_F       0
Cab_Letter_G       0
Cab_Letter_None    0
Family_Size        0
Fare_Per_Person    0
Sex_male           0
Embarked__Q        0
Embarked__S        0
Class_2            0
Class_3            0
dtype: int64

In [ ]:
age_imputed.to_csv('KNN_imputed.csv', index=False)

In [39]:
age_imputed2.to_csv('test_MF_imputed.csv', index=False)

How to assess error?

# Imputing missing values for test data

In [ ]:
test_df = pd.read_csv('test_for_imputation.csv')

In [ ]:
#152 Fare is Nan, 413 age

## KNN imputer

In [ ]:
imputer = KNNImputer()
test_imputed = imputer.fit_transform(test_df)
test_imputed = pd.DataFrame(test_imputed, columns = test_df.columns).round(1)

In [ ]:
test_imputed.to_csv('test_KNN_imputed.csv', index=False)

# MF imputer

In [ ]:
imputer2 = MissForest()
test_imputed2 = imputer2.fit_transform(test_df)
test_imputed2 = pd.DataFrame(test_imputed2, columns = test_df.columns).round(1)

In [ ]:
test_imputed2.to_csv('test_MF_imputed.csv', index=False)