In [29]:
pip install missingpy

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: missingpy in c:\users\euana\anaconda3\lib\site-packages (0.2.0)

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import sklearn.neighbors._base
import sys
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
from missingpy import MissForest
from sklearn.impute import KNNImputer

In [31]:
df = pd.read_csv('for_impute.csv')

In [32]:
df.isna().sum()

y             0
Age         177
SibSp         0
ParCh         0
Fare          0
Sex_male      0
Class_2       0
Class_3       0
dtype: int64

In [33]:
df.isna()

         y    Age  SibSp  ParCh   Fare  Sex_male  Class_2  Class_3
0    False  False  False  False  False     False    False    False
1    False  False  False  False  False     False    False    False
2    False  False  False  False  False     False    False    False
3    False  False  False  False  False     False    False    False
4    False  False  False  False  False     False    False    False
..     ...    ...    ...    ...    ...       ...      ...      ...
886  False  False  False  False  False     False    False    False
887  False  False  False  False  False     False    False    False
888  False   True  False  False  False     False    False    False
889  False  False  False  False  False     False    False    False
890  False  False  False  False  False     False    False    False

[891 rows x 8 columns]

In [34]:
df.head()

   y   Age  SibSp  ParCh     Fare  Sex_male  Class_2  Class_3
0  0  22.0      1      0   7.2500         1        0        1
1  1  38.0      1      0  71.2833         0        0        0
2  1  26.0      0      0   7.9250         0        0        1
3  1  35.0      1      0  53.1000         0        0        0
4  0  35.0      0      0   8.0500         1        0        1

# Using KNNImputer

In [44]:
imputer = KNNImputer()
age_imputed = imputer.fit_transform(df)
age_imputed = pd.DataFrame(age_imputed, columns = df.columns).round(1)

In [36]:
age_imputed.iloc[[888]]

       y   Age  SibSp  ParCh  Fare  Sex_male  Class_2  Class_3
888  0.0  16.8    1.0    2.0  23.4       0.0      0.0      1.0

In [37]:
age_imputed.isna().sum()

y           0
Age         0
SibSp       0
ParCh       0
Fare        0
Sex_male    0
Class_2     0
Class_3     0
dtype: int64

# Using MissForest

In [38]:
imputer2 = MissForest()
age_imputed2 = imputer2.fit_transform(df)
age_imputed2 = pd.DataFrame(age_imputed2, columns = df.columns).round(1)

C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Iteration: 0

C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Iteration: 1

C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Iteration: 2

In [39]:
age_imputed2.iloc[[888]]

       y   Age  SibSp  ParCh  Fare  Sex_male  Class_2  Class_3
888  0.0  23.3    1.0    2.0  23.4       0.0      0.0      1.0

In [40]:
age_imputed2.isna().sum()

y           0
Age         0
SibSp       0
ParCh       0
Fare        0
Sex_male    0
Class_2     0
Class_3     0
dtype: int64

In [41]:
age_imputed.to_csv('KNN_imputed.csv', index=False)

In [42]:
age_imputed2.to_csv('MF_imputed.csv', index=False)

How to assess error?

# Imputing missing values for test data

In [67]:
test_df = pd.read_csv('test_for_imputation.csv')

In [54]:
#152 Fare is Nan, 413 age

## KNN imputer

In [68]:
imputer = KNNImputer()
test_imputed = imputer.fit_transform(test_df)
test_imputed = pd.DataFrame(test_imputed, columns = test_df.columns).round(1)

In [69]:
test_imputed.to_csv('test_KNN_imputed.csv', index=False)

# MF imputer

In [70]:
imputer2 = MissForest()
test_imputed2 = imputer2.fit_transform(test_df)
test_imputed2 = pd.DataFrame(test_imputed2, columns = test_df.columns).round(1)

C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Iteration: 0

C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Iteration: 1

C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
C:\Users\euana\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

Iteration: 2

In [71]:
test_imputed2.to_csv('test_MF_imputed.csv', index=False)